@model IEnumerable<DoctorApp.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Doctores</h2>


@Html.ActionLink("Crear Nuevo doctor", "Create", null, new {@class="btn btn-primary "})
<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Lista de doctores</h6>
</div>
<div class="card-body">
<div class="table table-responsive">
    <table id="dataTable" class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workshift.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshift.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new {@class= "btn btn-secondary" }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new { @class = "btn btn-secondary" })
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</div>
</div>
